<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.net>
    <settings>
      <!--<servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />-->
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDixitService" receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00">
          <!--<message clientCredentialType="UserName" negotiateServiceCredential="false" />-->
          <security mode="None">
            <message clientCredentialType="UserName" />
            <!--<message clientCredentialType="UserName"/>-->
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61203/DixitService.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IDixitService" contract="DixitService1.IDixitService"
        name="WSDualHttpBinding_IDixitService" behaviorConfiguration="DixitClientBehavior">
        <identity>
          <dns value="localhost" />
          <!--<certificateReference
           findValue="DixitCert"
           storeLocation="LocalMachine"
           storeName="My"
           x509FindType="FindByIssuerName" />-->
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DixitClientBehavior">
          <clientCredentials>
            <!--<serviceCertificate>-->
              <!--<defaultCertificate findValue="DixitCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName" />-->
              <!--<authentication certificateValidationMode="None" revocationMode="NoCheck" />-->
            <!--</serviceCertificate>-->
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>