<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDixitService">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_IDixitService1">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60773/DixitService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IDixitService" contract="DixitService.IDixitService"
                name="WSDualHttpBinding_IDixitService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:61203/DixitService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IDixitService1" contract="DixitService1.IDixitService"
                name="WSDualHttpBinding_IDixitService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>